    <!-- About Section -->
    <section id="Información sobe mi" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Sobre Educación y experiencia </h2>
                <h3> Educación </3>
                <p> Jóven graduado como bachiller unificado en ciencias en el colegio "Provincia del cotopaxi,lastimosamente en mi colegio no disponían la especialidad "informática", gracias a eso acualmente he venido con excasos conocimientos.  </p>
                <p>Actualmente estoy estudiando, para ser sincero los pococ conocimientos que tengo son gracias a los docentes que con su maor esfuerzo me han nutrida de conocimiento, haciendo que ame aún más mi carrera </p>
                <h3> Experiencia </3>
                <p> A medida de que iban pasando las clases y no podía entender las clases, decidí inscirbirme a un pequeño curso de programación para que así no me quede en blanco en las clases y vaya proreando con mis otros compañeros </p>
            </div>
        </div>
    </section>
